nav {}

body {
    margin: 0;
    padding: 1vw;
    font-family: 'muli', sans-serif;
    background-color: #e6e6e6;

}

img {
    width: 100%;
}





div {

    /*
    border: 0.4vw;
    border-color: green;
    border-style: groove;
*/

    /*    width: 74vw;
 */


}







/*Forside logo ting*/


#forside_bg {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/forside/forside_portfolio_droplet.svg);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;



}

index.html {
    overflow: hidden;
}

/*
.grow {
    animation-name: grow_kf;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}*/

@keyframes grow_kf {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(47)
    }
}





h1 {
    color: #5c5858;
    text-transform: uppercase;
}

h2 {
    color: #5c5858;
}

p {
    color: #5c5858;
    font-size: 1.2em;
}

#titel_1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 2vw;
    width: 72vw;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}


#burgermenu a:hover {
    color: #e21818;
    transition: 0.4s;
}




a:active {
    color: #000000;
}

.undermenu {
    color: #5c5858;
}

#burgerknap {
    position: fixed;
    display: inline-block;
    height: 5vw;
    width: 5vw;
    background-image: url(billeder/burger.svg);
    background-size: cover;
    top: 2vw;
    right: 2vw;
    z-index: 1;

}

#burgermenu {

    position: fixed;
    display: flex;
    justify-content: flex-end;
    text-align: end;
    flex-direction: column;
    right: 0;
    top: 4vw;
    font-size: 2vw;
    z-index: 3;



}

#burgermenu a {
    padding: 2vw 3vw;
    color: #5c5858;
    text-transform: uppercase;
    animation-duration: 1s;
}


.hidden {
    visibility: hidden;
}

.fade_away {
    animation-name: hidden_kf;
    animation-duration: 0.4s;

}

@keyframes hidden_kf {

    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}


.closed {
    animation-name: close_kf;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-timing-function: linear;

}

@keyframes close_kf {
    0% {
        background-image: url(billeder/cross.svg);

    }

    100% {
        background-image: url(billeder/burger.svg);
    }
}

.open {
    animation-name: open_kf;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    /*    background-image: url(burger.svg);*/
}

@keyframes open_kf {
    /*
    0% {

        background-image: url(burger.svg);
    }
*/

    100% {
        background-image: url(billeder/cross.svg);
    }

}

/*forside start*/

#blok_container {
    display: flex;
}


#blok_1 {
    position: absolute;
    width: 0.4vw;
    height: 4vw;
    background-color: firebrick;
    left: 40vw;
    top: 5vw;

}

#blok_2 {
    position: absolute;
    width: 0.4vw;
    height: 4vw;
    background-color: firebrick;
    left: 47vw;
    top: 5vw;
}

#blok_3 {
    position: absolute;
    width: 0.4vw;
    height: 8vw;
    background-color: firebrick;
    left: 43.5vw;
    transform: rotate(117deg);
    top: 3vw;
}

#blok_4 {
    position: absolute;
    width: 0.4vw;
    height: 8vw;
    background-color: firebrick;
    left: 43.5vw;
    transform: rotate(-117deg);
    top: 3vw;
}




/*forside slut */


/*ommmmmmm start*/

#waat {
    display: flex;
    justify-content: center;
}

#titel_3 {
    position: absolute;
    text-align: center;
    z-index: 1;


}

#om_mit_ansigt {
    position: absolute;
    background-image: url(billeder/om/selv.png);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;


}

#om_mig_txt {
    position: absolute;
    text-align: center;
    top: 47vw;
    width: 40vw;
    left: 30vw;

}

#om_mig_txt p {
    line-height: 44px;

}



/*ommmmmmm slut*/


/*02_web start*/

#splash_02_site {
    /*    background-image: url(billeder/02_web/arthur_jonydi_splashbillede.jpg);*/
    width: 74vw;
    height: 42vw;

    /*
    left: 14vw;
    top: 7vw;
*/


}

#responsive_site_emb {
    width: 74vw;
    height: 47vw;

    left: 14vw;
    top: 7vw;
}

#skitser_02_web {
    width: 74vw;
    height: 100%;
    display: flex;

    /* transform: rotate(90deg);*/

}


#txt_02 {
    width: 74vw;
}


/*02_web ting ting slut*/

/*03_ux start*/

#xd_prototype {
    width: 74vw;
    height: 40vw;
    text-align: left;
}

#solsikken_app {
    height: 70vw;
    width: 74vw;
}

#solsikken_app_design {
    width: 74vw;
}

#solsikken_app_design img {
    height: 40vw;

}

#map_03_ux {
    width: 74vw;

}

#titel_2_d {
    padding-top: 1vw;
}



/*03_ux slut*/


/*04_animation start*/


#mit_spil_startscreen {
    width: 74vw;
    height: 40vw;

}

#txt_04 {
    width: 74vw;
}

#mitspil_kode_container {
    width: 74vw;
    display: flex;
    overflow: hidden;
    background-size: cover;

}

#gruppespil_js1 {
    width: 37vw;
}



/*04_animation slut*/

/*05_content start*/

#redesign_cleo {
    width: 74vw;
    height: 30vw;
}

#content_wireframe_layout {
    width: 74vw;
}

.content_img {}

#styletile_cleo {
    width: 74vw;
}

/*05_content slut*/



@media only screen and (max-width:800px) {

    #skitser_02_web {
        width: 74vw;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

    }



    #mitspil_kode_container {
        width: 74vw;
        height: 100%;
        display: block;
    }

    #gruppespil_js1 {
        width: 74vw;
    }

    #waat #om_mit_ansigt {
        top: 4vw;
    }

    #forside_bg {
        left: 1vw;
    }


    #forside_bg {
        transform: scale(2);
        top: 40vw;
    }

}


@media only screen and (min-width:800px) {

    #waat #titel_3 {
        right: 44vw;
    }

    #waat #om_mig_txt {
        left: 24vw;
        top: 44vw;

    }



}
